body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 16px;
    font-size: 24px;
    font-family: monospace;
  }
}
